<style scoped>
    #emtfe{
        margin: 1.5rem;
    }
    #emtfe a{
        margin: 1rem;
    }
</style>
<div id="emtfe">
    <fieldset class="layui-elem-field">
        <legend>Node</legend>
        <div class="layui-field-box">
            <a class="layui-btn layui-btn-big" href="/fetools/node/node.zip">Node环境集成包</a>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>代码管理</legend>
        <div class="layui-field-box">
            <a class="layui-btn layui-btn-big" href="/fetools/codemange/Git-2.13.3-32-bit.exe">Git</a>
            <a class="layui-btn layui-btn-big" href="/fetools/codemange/TortoiseSVN_1.9.5.27581_x64.msi">SVN</a>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>翻墙</legend>
        <div class="layui-field-box">
            <a class="layui-btn layui-btn-big" href="/fetools/翻墙.zip">翻墙包</a>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>浏览器</legend>
        <div class="layui-field-box">
            <a class="layui-btn layui-btn-big" href="/fetools/browser/360极速浏览器.exe">360极速浏览器</a>
            <a class="layui-btn layui-btn-big" href="/fetools/browser/ChromeStandalone_59.0.3071.115_Setup.exe">Chrome</a>
            <a class="layui-btn layui-btn-big" href="/fetools/browser/Firefox_54.0.1.6388_setup.exe">Firefox</a>
        </div>
    </fieldset>
</div>