<style scoped>
    #code{
        margin: 3rem;
        height: 100%;
    }
</style>
<div id="code">
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">HTML</li>
            <li>JavaScript</li>
            <li>CSS</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field">
                    <legend>1.页面锚点加动画</legend>
                    <div class="layui-field-box">
                        <pre class="layui-code">
$("a").click(function () {
    $("html, body").animate({scrollTop: $($(this).attr("href")).offset().top -20+ "px"}, 500);
    return false;
});
                        </pre>
                    </div>
                </fieldset>
            </div>
            <div class="layui-tab-item">JavaScript</div>
            <div class="layui-tab-item">CSS</div>
        </div>
    </div>
</div>
<script>
    layui.use('code', function(){ //加载code模块
        layui.code({skin: 'notepad',about:false}); //引用code方法
    });
</script>