<style scoped>
    #dcss{
        margin: 3rem;
    }
</style>
<div id="dcss">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">Css3</li>
            <li>Flex</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <blockquote class="layui-elem-quote">
                    <a href="http://www.ruanyifeng.com/blog/2010/03/cross-browser_css3_features.html" target="_blank">CSS3常用功能的写法</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html" target="_blank">Flex 布局教程</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>