<style scoped>
    #wiki{
        margin: 3rem;
    }
</style>
<div id="wiki">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">开发插件</li>
            <li>JS插件</li>
            <li>前端汇总</li>
            <li>文档伴侣</li>
            <li>在线工具</li>
            <li>素材</li>
            <li>前端awesomes</li>
            <li>全栈</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <blockquote class="layui-elem-quote">
                    <a href="https://github.com/varHarrie/Dawn-Blossoms/issues/10" target="_blank">vscode插件</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="http://blog.csdn.net/rovast/article/details/45647887" target="_blank">sublime插件</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="https://github.com/CuityMiko/striveCode" target="_blank">集成JS Demo</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="http://html5ify.com/fks/" target="_blank">前端知识体系</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="http://html5ify.com/doxmate/" target="_blank">Doxmate</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="https://github.com/JacksonTian/doxmate" target="_blank">Github</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="http://tool.oschina.net/" target="_blank">常用在线工具</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="https://cli.im/" target="_blank">二维码生成器</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="http://tool.oschina.net/regex" target="_blank">在线正则</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="https://jsfiddle.net/" target="_blank">前端在线编辑器</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="http://www.atool.org/" target="_blank">在线工具大全</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="http://tool.oschina.net/encode?type=3" target="_blank">在线转码</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="http://www.qqxiuzi.cn/zh/pinyin/" target="_blank">汉字拼音在线转换</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="http://www.17sucai.com/" target="_blank">17素材</a>
                </blockquote>
                <blockquote class="layui-elem-quote">
                    <a href="http://www.iconfont.cn/" target="_blank">阿里图标库</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="https://www.awesomes.cn/" target="_blank">Awesomes</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="https://github.com/ruanyf/jstraining" target="_blank">全栈工程师培训材料</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>