<style scoped>
    #djs{
        margin: 3rem;
    }
</style>
<div id="djs">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">工具</li>
            <li>插件</li>
            <li>模板</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <blockquote class="layui-elem-quote">
                    <a href="http://lodashjs.com/docs/" target="_blank">lodashjs</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="http://www.jq22.com/" target="_blank">JQuery插件</a>
                </blockquote>
            </div>
            <div class="layui-tab-item">
                <blockquote class="layui-elem-quote">
                    <a href="https://aui.github.io/art-template/" target="_blank">art-template</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>